In [33]:
from pathlib import Path
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
plt.style.use('ggplot')

# Explore HighD Dataset

## Load Dataset

In [28]:
highd_dir = Path('highd')
recordsmeta_file = [record for record in highd_dir.glob('*_recordingMeta.csv')]
tracksmeta_file = [track_meta for track_meta in highd_dir.glob('*_tracksMeta.csv')]
tracks_file = [track for track in highd_dir.glob('*_tracks.csv')]
recordsmeta_file.sort()
tracksmeta_file.sort()
tracks_file.sort()

In [37]:
pd.read_csv(recordsmeta_file[0]).T

                                     0
id                                   1
frameRate                           25
locationId                           2
speedLimit                        -1.0
month                           9.2017
weekDay                            Tue
startTime                        08:38
duration                        901.56
totalDrivenDistance          418549.19
totalDrivenTime               13908.12
numVehicles                       1047
numCars                            863
numTrucks                          184
upperLaneMarkings     8.51;12.59;16.43
lowerLaneMarkings    21.00;24.96;28.80

In [35]:
pd.read_csv(tracksmeta_file[0])

,id,width,height,initialFrame,finalFrame,numFrames,class,drivingDirection,traveledDistance,minXVelocity,maxXVelocity,meanXVelocity,minDHW,minTHW,minTTC,numLaneChanges
0,1,4.85,2.12,1,33,33,Car,2,52.25,40.85,41.30,41.07,-1.00,-1.00,-1.00,0
1,2,4.24,1.92,1,130,130,Car,1,167.44,32.04,32.90,32.48,112.62,3.51,-1.00,0
2,3,3.94,1.92,1,157,157,Car,2,225.23,35.69,36.50,36.13,90.31,2.53,-1.00,0
3,4,5.05,2.22,1,161,161,Car,1,273.49,42.57,42.83,42.76,-1.00,-1.00,-1.00,0
4,5,4.24,1.82,1,182,182,Car,1,313.92,42.50,44.26,43.40,33.64,0.76,24.53,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1042,1043,7.38,2.53,22376,22539,164,Car,1,209.80,31.28,33.26,32.21,16.46,0.52,-1.00,0
1043,1044,5.15,2.02,22383,22538,156,Car,2,233.81,37.03,39.03,37.75,63.66,1.68,45.59,0
1044,1045,4.75,2.02,22456,22539,84,Car,1,112.72,33.95,34.21,34.01,91.27,2.67,52.71,0
1045,1046,4.35,2.12,22456,22531,76,Car,1,89.72,29.44,30.58,29.96,118.38,4.02,19.11,0
1046,1047,6.37,3.13,22508,22539,32,Truck,1,43.46,34.85,35.75,35.29,65.47,1.83,42.53,0

In [36]:
pd.read_csv(tracks_file[0])

,frame,id,x,y,width,height,xVelocity,yVelocity,xAcceleration,yAcceleration,...,precedingXVelocity,precedingId,followingId,leftPrecedingId,leftAlongsideId,leftFollowingId,rightPrecedingId,rightAlongsideId,rightFollowingId,laneId
0,1,1,362.26,21.68,4.85,2.12,40.85,0.00,0.30,0.00,...,0.00,0,3,0,0,0,0,0,6,5
1,2,1,363.73,21.68,4.85,2.12,40.87,0.00,0.30,0.00,...,0.00,0,14,0,0,0,0,0,6,5
2,3,1,365.27,21.68,4.85,2.12,40.88,0.00,0.31,0.00,...,0.00,0,14,0,0,0,0,0,6,5
3,4,1,366.83,21.68,4.85,2.12,40.89,0.00,0.32,0.00,...,0.00,0,14,0,0,0,0,0,6,5
4,5,1,368.42,21.68,4.85,2.12,40.90,0.01,0.32,0.00,...,0.00,0,14,0,0,0,0,0,6,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
348745,22535,1047,366.97,12.54,6.37,3.13,-35.63,0.19,-0.74,0.11,...,-34.18,1045,0,0,0,0,1039,0,0,3
348746,22536,1047,365.55,12.55,6.37,3.13,-35.66,0.20,-0.74,0.11,...,-34.19,1045,0,0,0,0,1039,0,0,3
348747,22537,1047,364.12,12.56,6.37,3.13,-35.69,0.20,-0.74,0.11,...,-34.19,1045,0,0,0,0,1039,0,0,3
348748,22538,1047,362.69,12.57,6.37,3.13,-35.72,0.21,-0.74,0.11,...,-34.20,1045,0,0,0,0,1039,0,0,3
348749,22539,1047,361.26,12.58,6.37,3.13,-35.75,0.21,-0.74,0.11,...,-34.21,1045,0,0,0,0,1039,0,0,3